<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-theme-primary">{{formStatus}}</h3>
            <p class="mb-5">You can {{formStatus}} new post here..</p>
        </div>
    </div>
    @if(postForm)
    {
        <div>
             <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-7">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" (keyup)="onTitleChange($event)"
                                formControlName="title"
                                [ngClass]="{'is-invalid': postForm.get('title')?.invalid && postForm.get('title')?.touched,}">
                            @if (postForm.get('title')?.touched && postForm.get('title')?.errors?.['required']) {
                            <div class="alert alert-danger">
                                Title is required.
                            </div>
                            }

                            @if (postForm.get('title')?.touched && postForm.get('title')?.errors?.['minlength']) {
                            <div class="alert alert-danger">
                                Title must be at least 10 characters long.
                            </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="">Permalink</label>
                            <input type="text" class="form-control" name="permalink" formControlName="permalink"
                                readonly
                                [ngClass]="{'is-invalid': postForm.get('permalink')?.invalid && postForm.get('permalink')?.touched,}">

                            @if (postForm.get('permalink')?.touched && postForm.get('permalink')?.errors?.['required'])
                            {
                            <div class="alert alert-danger">
                                Permalink is required.
                            </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="">Excerpt</label>
                            <textarea cols="30" rows="10" class="form-control" formControlName="excerpt"
                                [ngClass]="{'is-invalid': postForm.get('excerpt')?.invalid && postForm.get('excerpt')?.touched,}"></textarea>
                            @if (postForm.get('excerpt')?.touched && postForm.get('excerpt')?.errors?.['required']) {
                            <div class="alert alert-danger">
                                Excerpt is required.
                            </div>
                            }

                            @if (postForm.get('excerpt')?.touched && postForm.get('excerpt')?.errors?.['minlength']) {
                            <div class="alert alert-danger">
                                Excerpt must be at least 50 characters long.
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="category">Please select a post category</label>
                    <select class="form-control" formControlName="category"
                        [ngClass]="{'is-invalid': postForm.get('category')?.invalid && postForm.get('category')?.touched}">
                        <option value="" disabled>Please select a category</option>

                        @for (category of categories; track category) {
                        <!-- bind the actual value -->
                        <option value="{{category.id}}-{{category.category}}">{{ category.category }}</option>
                        }
                    </select>

                    @if (postForm.get('category')?.touched && postForm.get('category')?.errors?.['required']) {
                    <div class="alert alert-danger">Please select a post category.</div>
                    }
                </div>
                <div class="form-group">
                    <label for="">Post Image</label>
                    <img [src]="imgSrc" alt="placeholder" class="form-control img-fluid img-preview">
                    <input type="file" class="form-control" accept="image/*" (change)="showPreview($event)"
                        [ngClass]="{'is-invalid': postForm.get('postImg')?.invalid && postForm.get('postImg')?.touched,}">
                    @if (postForm.get('postImg')?.touched && postForm.get('postImg')?.errors?.['required']) {
                    <div class="alert alert-danger">
                        Post Image is required.
                    </div>
                    }

                </div>
            </div>
        </div>

        <div class="row mt-3 mb-5">
            <div class="col-md-12">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Content</label>
                            <angular-editor placeholder="Add Your Content here" formControlName="content"
                                [ngClass]="{'is-invalid': postForm.get('content')?.invalid && postForm.get('content')?.touched,}">
                            </angular-editor>
                            @if (postForm.get('content')?.touched && postForm.get('content')?.errors?.['required']) {
                            <div class="alert alert-danger">
                                Content is required.
                            </div>
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center mb-5 mt-2">
                <button class="btn btn-info bg-theme" [disabled]="postForm.invalid">{{formStatus}}</button>
                <button class="btn btn-warning ml-3" routerLink="/posts"> Back to Post</button>
            </div>
        </div>
    </form>
        </div>
    }
   
</div>